
{% extends "layout.html" %}

{% block content %}
<h1>Stocks List</h1>
        <table class="ui striped table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Symbol</th>
                <th class="left aligned">Name</th>
            </tr>
            </thead>
        <tbody>
        {% for stock in stocks %}
        
 
        <tr>
            <td>{{ stock.id }} </td>
            <td>{{ stock.symbol }}</td>
            <td><a href="/stock/{{stock.symbol}}"> {{stock.name }}</a></td>
        </tr>
            
        {% endfor  %}
        </tbody>

        </table>
{% endblock %}