{% extends "layout.html" %}

{% block content %}
<h1>Stocks List {{ stock.symbol }}</h1>
<table class="ui striped table">
<thead>
<tr>
    <th>Datetime</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Volume</th>    

</tr>
</thead>
<tbody>
{% for price in prices %}


<tr>
<td>{{ price.date }} </td>
<td>{{ price.open }} </td>
<td>{{ price.high }} </td>
<td>{{ price.low }}</td>
<td>{{ price.close }}</td>
<td>{{ price.volume }}</td>
</tr>

{% endfor  %}
</tbody>

</table>
{% endblock %}